.bi_card{
    position: relative;
    height: 300px;
    width: auto;
    overflow: hidden;
    border-radius: 8px;
    picture{
        display: block;
        height: 100%;
        width: 100%;
        overflow: hidden;
        img{
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
    div{
        position: absolute;
        bottom: 0;
    }
}