@font-face {
    font-family: "Fugaz";
    src: url("../../../assets/fonts/Fugaz/FugazOne-Regular.ttf")  format('truetype'),;
    font-weight: normal;
    font-style: normal;
    font-display: block;
}