@import "./fonts.scss";
@import "./variables.scss";
@import "./mixins.scss";
@import "./reset.scss";

.font-size-test {
  text-align: center;
}

body,
html {
  width: 100%;
  min-height: 100%;
  background-color: map-get($colors, "background");
  color: map-get($colors, "fonts");
  details {
    summary {
      list-style: none;
    }
  }
  details {
    summary::-webkit-details-marker {
      display: none;
    }
  }
  div.bi_background-sections-white{
    background-color: map-get($brands-primary , "white" );
  }
  div.bi_background-sections-gray{
    background-color: map-get($brands-primary , "lightGray-" );
  }
}

html {
  scroll-behavior: initial;
}

header{
  display: none;
}

body {
  h1.bi-articleType-title, .bi-articleType-title {
    font-family: "Everett-Regular";
    font-size: map-get($fonts-sizes-desktop, "h2");
    line-height: map-get($fonts-sizes-desktop, "h2-line");
    @include interpolate(
      font-size,
      map-get($breakpoints, "tablet"),
      map-get($breakpoints, "desktop"),
      map-get($fonts-sizes-mobile, "h2"),
      map-get($fonts-sizes-desktop, "h2")
    );
    @include interpolate(
      line-height,
      map-get($breakpoints, "tablet"),
      map-get($breakpoints, "desktop"),
      map-get($fonts-sizes-mobile, "h2-line"),
      map-get($fonts-sizes-desktop, "h2-line")
    );
    @include mq("tablet", max) {
      font-size: map-get($fonts-sizes-mobile, "h2");
      line-height: map-get($fonts-sizes-mobile, "h2-line");
    }
    margin-bottom: 40px;
  }
  .bi-uppercase-small-title,
  h1.bi-uppercase-small-title {
    font-family: "Everett-Regular";
    font-size: map-get($fonts-sizes-desktop, "uppercase_small_title");
    line-height: map-get($fonts-sizes-desktop, "uppercase_small_title-line");
    @include interpolate(
      font-size,
      map-get($breakpoints, "tablet"),
      map-get($breakpoints, "desktop"),
      map-get($fonts-sizes-mobile, "uppercase_small_title"),
      map-get($fonts-sizes-desktop, "uppercase_small_title")
    );
    @include interpolate(
      line-height,
      map-get($breakpoints, "tablet"),
      map-get($breakpoints, "desktop"),
      map-get($fonts-sizes-mobile, "uppercase_small_title-line"),
      map-get($fonts-sizes-desktop, "uppercase_small_title-line")
    );
    @include mq("tablet", max) {
      font-size: map-get($fonts-sizes-mobile, "uppercase_small_title");
      line-height: map-get($fonts-sizes-mobile, "uppercase_small_title-line");
    }
    /** color: map-get($brands-primary, "blue"); **/
    color: #3A71FD;
    text-transform: uppercase;
  }

  h1,
  .bi-xxlarge-typo {
    &.variant{
      font-weight: 400;
    }
    font-family: "Everett-Regular";
    font-size: map-get($fonts-sizes-desktop, "h1");
    line-height: map-get($fonts-sizes-desktop, "h1-line");
    @include interpolate(
      font-size,
      map-get($breakpoints, "tablet"),
      map-get($breakpoints, "desktop"),
      map-get($fonts-sizes-mobile, "h1"),
      map-get($fonts-sizes-desktop, "h1")
    );
    @include interpolate(
      line-height,
      map-get($breakpoints, "tablet"),
      map-get($breakpoints, "desktop"),
      map-get($fonts-sizes-mobile, "h1-line"),
      map-get($fonts-sizes-desktop, "h1-line")
    );
    @include mq("tablet", max) {
      font-size: map-get($fonts-sizes-mobile, "h1");
      line-height: map-get($fonts-sizes-mobile, "h1-line");
    }
    margin-bottom: 24px;
  }

  .bi-xlarge-typo,
  h2 {
    font-family: "Everett-Regular";
    font-size: map-get($fonts-sizes-desktop, "h2");
    line-height: map-get($fonts-sizes-desktop, "h2-line");
    @include interpolate(
      font-size,
      map-get($breakpoints, "tablet"),
      map-get($breakpoints, "desktop"),
      map-get($fonts-sizes-mobile, "h2"),
      map-get($fonts-sizes-desktop, "h2")
    );
    @include interpolate(
      line-height,
      map-get($breakpoints, "tablet"),
      map-get($breakpoints, "desktop"),
      map-get($fonts-sizes-mobile, "h2-line"),
      map-get($fonts-sizes-desktop, "h2-line")
    );
    @include mq("tablet", max) {
      font-size: map-get($fonts-sizes-mobile, "h2");
      line-height: map-get($fonts-sizes-mobile, "h2-line");
    }
    margin-bottom: 24px;
  }

  .bi-large-typo,
  h3 {
    font-family: "Everett-Regular";
    font-size: map-get($fonts-sizes-desktop, "h3");
    line-height: map-get($fonts-sizes-desktop, "h3-line");
    @include interpolate(
      font-size,
      map-get($breakpoints, "tablet"),
      map-get($breakpoints, "desktop"),
      map-get($fonts-sizes-mobile, "h3"),
      map-get($fonts-sizes-desktop, "h3")
    );
    @include interpolate(
      line-height,
      map-get($breakpoints, "tablet"),
      map-get($breakpoints, "desktop"),
      map-get($fonts-sizes-mobile, "h3-line"),
      map-get($fonts-sizes-desktop, "h3-line")
    );
    @include mq("tablet", max) {
      font-size: map-get($fonts-sizes-mobile, "h3");
      line-height: map-get($fonts-sizes-mobile, "h3-line");
    }
    margin-bottom: 24px;
  }
  .bi-medium-typo,
  h4 {
    font-family: "Everett-Regular";
    font-size: map-get($fonts-sizes-desktop, "h4");
    line-height: map-get($fonts-sizes-desktop, "h4-line");
    @include interpolate(
      font-size,
      map-get($breakpoints, "tablet"),
      map-get($breakpoints, "desktop"),
      map-get($fonts-sizes-mobile, "h4"),
      map-get($fonts-sizes-desktop, "h4")
    );
    @include interpolate(
      line-height,
      map-get($breakpoints, "tablet"),
      map-get($breakpoints, "desktop"),
      map-get($fonts-sizes-mobile, "h4-line"),
      map-get($fonts-sizes-desktop, "h4-line")
    );
    @include mq("tablet", max) {
      font-size: map-get($fonts-sizes-mobile, "h4");
      line-height: map-get($fonts-sizes-mobile, "h4-line");
    }
    margin-bottom: 24px;
  }

  .bi-small-typo,
  h5 {
    font-family: "Everett-Regular";
    font-size: map-get($fonts-sizes-desktop, "h5");
    line-height: map-get($fonts-sizes-desktop, "h5-line");
    @include interpolate(
      font-size,
      map-get($breakpoints, "tablet"),
      map-get($breakpoints, "desktop"),
      map-get($fonts-sizes-mobile, "h5"),
      map-get($fonts-sizes-desktop, "h5")
    );
    @include interpolate(
      line-height,
      map-get($breakpoints, "tablet"),
      map-get($breakpoints, "desktop"),
      map-get($fonts-sizes-mobile, "h5-line"),
      map-get($fonts-sizes-desktop, "h5-line")
    );
    @include mq("tablet", max) {
      font-size: map-get($fonts-sizes-mobile, "h5");
      line-height: map-get($fonts-sizes-mobile, "h5-line");
    }
    margin-bottom: 24px;
  }
  .bi-small-typo,
  h6 {
    font-family: "Everett-Regular";
    font-size: map-get($fonts-sizes-desktop, "h6");
    line-height: map-get($fonts-sizes-desktop, "h6-line");
    @include interpolate(
      font-size,
      map-get($breakpoints, "tablet"),
      map-get($breakpoints, "desktop"),
      map-get($fonts-sizes-mobile, "h6"),
      map-get($fonts-sizes-desktop, "h6")
    );
    @include interpolate(
      line-height,
      map-get($breakpoints, "tablet"),
      map-get($breakpoints, "desktop"),
      map-get($fonts-sizes-mobile, "h6-line"),
      map-get($fonts-sizes-desktop, "h6-line")
    );
    @include mq("tablet", max) {
      font-size: map-get($fonts-sizes-mobile, "h6");
      line-height: map-get($fonts-sizes-mobile, "h6-line");
    }
    margin-bottom: 24px;
  }

  .bi-bigNumber {
    font-family: "Everett-Regular";
    font-size: map-get($fonts-sizes-desktop, "bigNumber");
    line-height: map-get($fonts-sizes-desktop, "bigNumber-line");
    @include interpolate(
      font-size,
      map-get($breakpoints, "tablet"),
      map-get($breakpoints, "desktop"),
      map-get($fonts-sizes-mobile, "bigNumber"),
      map-get($fonts-sizes-desktop, "bigNumber")
    );
    @include interpolate(
      line-height,
      map-get($breakpoints, "tablet"),
      map-get($breakpoints, "desktop"),
      map-get($fonts-sizes-mobile, "bigNumber-line"),
      map-get($fonts-sizes-desktop, "bigNumber-line")
    );
    @include mq("tablet", max) {
      font-size: map-get($fonts-sizes-mobile, "bigNumber");
      line-height: map-get($fonts-sizes-mobile, "bigNumber-line");
    }
  }

  .bi-primary-paragraph,
  p {
    font-family: "InterTight-Regular" ;
    font-size: map-get($fonts-sizes-desktop, "paragraph");
    line-height: map-get($fonts-sizes-desktop, "paragraph-line");
    @include interpolate(
      font-size,
      map-get($breakpoints, "tablet"),
      map-get($breakpoints, "desktop"),
      map-get($fonts-sizes-mobile, "paragraph"),
      map-get($fonts-sizes-desktop, "paragraph")
    );
    @include interpolate(
      line-height,
      map-get($breakpoints, "tablet"),
      map-get($breakpoints, "desktop"),
      map-get($fonts-sizes-mobile, "paragraph-line"),
      map-get($fonts-sizes-desktop, "paragraph-line")
    );
    @include mq("tablet", max) {
      font-size: map-get($fonts-sizes-mobile, "paragraph");
      line-height: map-get($fonts-sizes-mobile, "paragraph-line");
    }
  }
  p.bi-hero-subTitle {
    font-family: "Everett-Regular";
    font-size: map-get($fonts-sizes-desktop, "hero_subTitle");
    line-height: map-get($fonts-sizes-desktop, "hero_subTitle-line");
    @include interpolate(
      font-size,
      map-get($breakpoints, "tablet"),
      map-get($breakpoints, "desktop"),
      map-get($fonts-sizes-mobile, "hero_subTitle"),
      map-get($fonts-sizes-desktop, "hero_subTitle")
    );
    @include interpolate(
      line-height,
      map-get($breakpoints, "tablet"),
      map-get($breakpoints, "desktop"),
      map-get($fonts-sizes-mobile, "hero_subTitle-line"),
      map-get($fonts-sizes-desktop, "hero_subTitle-line")
    );
    @include mq("tablet", max) {
      font-size: map-get($fonts-sizes-mobile, "hero_subTitle");
      line-height: map-get($fonts-sizes-mobile, "hero_subTitle-line");
    }
  }

  .bi-input-text,
  input, textarea, label {
    font-family: "InterTight-Regular" ;
    font-size: map-get($fonts-sizes-desktop, "input_text");
    line-height: map-get($fonts-sizes-desktop, "input_text-line");
    @include interpolate(
      font-size,
      map-get($breakpoints, "tablet"),
      map-get($breakpoints, "desktop"),
      map-get($fonts-sizes-mobile, "input_text"),
      map-get($fonts-sizes-desktop, "input_text")
    );
    @include interpolate(
      line-height,
      map-get($breakpoints, "tablet"),
      map-get($breakpoints, "desktop"),
      map-get($fonts-sizes-mobile, "input_text-line"),
      map-get($fonts-sizes-desktop, "input_text-line")
    );
    @include mq("tablet", max) {
      font-size: map-get($fonts-sizes-mobile, "input_text");
      line-height: map-get($fonts-sizes-mobile, "input_text-line");
    }
  }

  .bi-little-paragraph,
  .bi-article-title {
    font-family: "InterTight-Regular" ;
    font-size: map-get($fonts-sizes-desktop, "article_title");
    line-height: map-get($fonts-sizes-desktop, "article_title-line");
    @include interpolate(
      font-size,
      map-get($breakpoints, "tablet"),
      map-get($breakpoints, "desktop"),
      map-get($fonts-sizes-mobile, "article_title"),
      map-get($fonts-sizes-desktop, "article_title")
    );
    @include interpolate(
      line-height,
      map-get($breakpoints, "tablet"),
      map-get($breakpoints, "desktop"),
      map-get($fonts-sizes-mobile, "article_title-line"),
      map-get($fonts-sizes-desktop, "article_title-line")
    );
    @include mq("tablet", max) {
      font-size: map-get($fonts-sizes-mobile, "article_title");
      line-height: map-get($fonts-sizes-mobile, "article_title-line");
    }
  }

  .bi-publicationDate {
    font-family: "Everett-Regular";
    font-size: map-get($fonts-sizes-desktop, "card_date");
    line-height: map-get($fonts-sizes-desktop, "card_date-line");
    @include interpolate(
      font-size,
      map-get($breakpoints, "tablet"),
      map-get($breakpoints, "desktop"),
      map-get($fonts-sizes-mobile, "card_date"),
      map-get($fonts-sizes-desktop, "card_date")
    );
    @include interpolate(
      line-height,
      map-get($breakpoints, "tablet"),
      map-get($breakpoints, "desktop"),
      map-get($fonts-sizes-mobile, "card_date-line"),
      map-get($fonts-sizes-desktop, "card_date-line")
    );
    @include mq("tablet", max) {
      font-size: map-get($fonts-sizes-mobile, "card_date");
      line-height: map-get($fonts-sizes-mobile, "card_date-line");
    }
  }

  .bi-tag {
    font-family: "Everett-Regular";
    font-size: map-get($fonts-sizes-desktop, "tag");
    line-height: map-get($fonts-sizes-desktop, "tag-line");
    @include interpolate(
      font-size,
      map-get($breakpoints, "tablet"),
      map-get($breakpoints, "desktop"),
      map-get($fonts-sizes-mobile, "tag"),
      map-get($fonts-sizes-desktop, "tag")
    );
    @include interpolate(
      line-height,
      map-get($breakpoints, "tablet"),
      map-get($breakpoints, "desktop"),
      map-get($fonts-sizes-mobile, "tag-line"),
      map-get($fonts-sizes-desktop, "tag-line")
    );
    @include mq("tablet", max) {
      font-size: map-get($fonts-sizes-mobile, "tag");
      line-height: map-get($fonts-sizes-mobile, "tag-line");
    }
  }

  .bi-button-text,
  button {
    font-family: "Everett-Regular";
    font-size: map-get($fonts-sizes-desktop, "button_text");
    line-height: map-get($fonts-sizes-desktop, "button_text-line");
    @include interpolate(
      font-size,
      map-get($breakpoints, "tablet"),
      map-get($breakpoints, "desktop"),
      map-get($fonts-sizes-mobile, "button_text"),
      map-get($fonts-sizes-desktop, "button_text")
    );
    @include interpolate(
      line-height,
      map-get($breakpoints, "tablet"),
      map-get($breakpoints, "desktop"),
      map-get($fonts-sizes-mobile, "button_text-line"),
      map-get($fonts-sizes-desktop, "button_text-line")
    );
    @include mq("tablet", max) {
      font-size: map-get($fonts-sizes-mobile, "button_text");
      line-height: map-get($fonts-sizes-mobile, "button_text-line");
    }
    outline: none;
  }

  a {
    text-decoration: none;
  }

  .bi-bigText {
    font-family: "Everett-Regular";
    font-size: map-get($fonts-sizes-desktop, "bigText");
    line-height: map-get($fonts-sizes-desktop, "bigText-line");
    @include interpolate(
      font-size,
      map-get($breakpoints, "tablet"),
      map-get($breakpoints, "desktop"),
      map-get($fonts-sizes-mobile, "bigText"),
      map-get($fonts-sizes-desktop, "bigText")
    );
    @include interpolate(
      line-height,
      map-get($breakpoints, "tablet"),
      map-get($breakpoints, "desktop"),
      map-get($fonts-sizes-mobile, "bigText-line"),
      map-get($fonts-sizes-desktop, "bigText-line")
    );
    @include mq("tablet", max) {
      font-size: map-get($fonts-sizes-mobile, "bigText");
      line-height: map-get($fonts-sizes-mobile, "bigText-line");
    }
  }
}

.bi-layout {
  @include grid(
    map-get($layout-desktop, "column-number"),
    map-get($layout-desktop, "column-spacing"),
    map-get($layout-desktop, "margin")
  );
  @include mq("tablet", max) {
    @include grid(
      map-get($layout-mobile, "column-number"),
      map-get($layout-mobile, "column-spacing"),
      map-get($layout-mobile, "margin")
    );
  }
}

.splitting {
  .bi-line {
    overflow: hidden;
    display: inline-block;
    margin-bottom: -0.25em;
  }
}